@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');
body {
    box-sizing: content-box;
    background-color: #212121;
    margin: 50px 0 0 0;
}

p,
h1,
h2 {
    color: white;
    margin: 0;
    font-family: 'Montserrat';
}

h1,
h2 {
    font-weight: 700;
}

h2 {
    font-size: 28px;
    line-height: 40px;
}

h1 {
    font-size: 30px;
    text-align: center;
}

p {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
}

.conteiner {
    margin: 0 auto;
}

.wapper,
.subWapper {
    display: grid;
    row-gap: 35px;
}

.subWapper {
    grid-template-columns: 400px 400px;
    margin: 0 auto;
    column-gap: 40px;
}

#box-0,
#box-3 {
    width: 850px;
}

#box-3 {
    display: grid;
    row-gap: 7px;
    height: fit-content;
    padding: 30px;
    box-sizing: border-box;
    border: 3px dashed #4D4D4D;
}

#box-0 {
    height: 100px;
    box-sizing: border-box;
    padding: 30px 0;
}

#box-1,
#box-2 {
    display: grid;
    height: fit-content;
    row-gap: 10px;
    width: 400px;
    box-sizing: border-box;
    padding: 30px;
}

#box-1 p,
#box-2 p,
#box-1 h2,
#box-2 h2 {
    max-width: 210px;
}

#box-3 h2,
#box-3 p {
    max-width: 330px;
}

#box-0,
#box-1,
#box-2 {
    background: #212121;
    border: 1px solid #4D4D4D;
    border-radius: 0px 0px 8px 8px;
}

#box-0,
#box-1,
#box-2,
#box-3 {
    margin: 0 auto;
}

#box-2 img {
    height: 303px;
}

.wapper-row {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 17px;
}

#wapper-row-1 {
    display: grid;
    grid-template-rows: auto auto auto;
    height: fit-content;
    row-gap: 8px;
}

#wapper-row-2 {
    display: flex;
    justify-content: end;
}

#info-c {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff80;
}

#image-cr {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    text-align: end;
    align-items: flex-end;
    justify-content: end;
}

#image-cr img {
    height: 100px;
    filter: drop-shadow(0px 2px 0px rgba(77, 77, 77, 0.5));
}

.bottom-copyright {
    display: grid;
    grid-template-columns: 30px 190px 2px auto;
    column-gap: 15px;
    box-sizing: border-box;
    padding: 18px;
    margin-top: 80px;
    width: 100%;
    height: fit-content;
    background-color: #111111;
}

.bottom-copyright img {
    width: 30px;
    height: 30px;
}

#bar {
    width: 2px;
    height: auto;
    background: #B8B8B8;
    border-radius: 1px;
}

#row-copyright {
    display: grid;
    grid-template-rows: auto auto;
    column-gap: 5px;
}

#row-copyright img {
    width: 55px;
    height: 15px;
}

@media only screen and (max-width: 1400px) {
    .wapper,
    .subWapper {
        width: auto;
    }
}

@media only screen and (max-width: 1060px) {
    #box-0,
    #box-1,
    #box-2,
    #box-3 {
        width: 100%;
    }
    .wapper,
    .subWapper {
        width: 100%;
        grid-template-columns: unset;
    }
    .conteiner {
        margin: 0 70px 0 70px;
    }
}

@media only screen and (max-width: 480px) {
    .conteiner {
        margin: 0 30px 0 30px;
    }
    h1 {
        font-size: 24px;
    }
    .bottom-copyright {
        grid-template-columns: unset;
        row-gap: 10px;
        grid-template-rows: auto;
    }
    .bottom-copyright #info-c {
        max-width: 200px;
    }
    #row-copyright {
        row-gap: 5px;
    }
    #bar {
        width: auto;
        height: 2px;
    }
    .wapper-row {
        grid-template-rows: auto auto;
        grid-template-columns: unset;
        margin: 0 auto;
    }
    #box-1 p,
    #box-2 p,
    #box-1 h2,
    #box-2 h2 {
        max-width: unset;
    }
    #wapper-row-2 {
        justify-content: center;
    }
}
